.headerrow {
    background-color: darkseagreen;
  }
  #messagePane {
    background-color: rgb(211, 230, 211);
  }
  .join_room_response,
  .left_room_response {
    background-color: rgb(247, 247, 247);
  }
  .chat_message {
    font-size:125%;
    margin: 1px 1px 1px 1px;
    color: rgb(0, 0, 0);
  }